RomajiHiraganaPairMaker/StringPairDictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Dictionary"
    targetNamespace="urn:StringPairDictionary.xsd"
    elementFormDefault="qualified"
    xmlns="urn:StringPairDictionary.xsd"
    xmlns:mstns="urn:StringPairDictionary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="KeyValuePairType">
    <xs:sequence>
      <xs:element name="Key" type="xs:string" />
      <xs:element name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DictionaryType">
    <xs:sequence>
      <xs:element name="KeyValuePair" type="mstns:KeyValuePairType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dictionary" type="mstns:DictionaryType" />
</xs:schema>
